name: first-web-app build and deploy to remote Wildfly

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Maven
        id: mvn_build
        run: |
          cd first-web-app
          mvn --batch-mode clean install wildfly:undeploy wildfly:deploy \
          -Dwildfly.hostname=${{ secrets.WILDFLY_REMOTE_HOST }} \
          -Dwildfly.username=${{ secrets.WILDFLY_ADMIN_LOGIN }} \
          -Dwildfly.password=${{ secrets.WILDFLY_ADMIN_PASSWORD }}